[Desktop Entry]
Name=Marka
GenericName=Markdown Editor
Comment=Lightweight Markdown viewer and editor for Linux
Exec=marka %F
Icon=io.github.HemanthGangula.Marka
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/markdown;text/x-markdown;
Keywords=markdown;editor;viewer;text;md;
StartupNotify=true
StartupWMClass=io.github.HemanthGangula.Marka
