#!/usr/bin/make -f
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -Dm644 data/io.github.HemanthGangula.Marka.metainfo.xml \
		debian/marka/usr/share/metainfo/io.github.HemanthGangula.Marka.metainfo.xml
	install -Dm644 marka.desktop \
		debian/marka/usr/share/applications/io.github.HemanthGangula.Marka.desktop
